
<section>
  <article>
    <h3>Interpolação/Interpolation</h3>
    <p> String renderizada com Interpolação: {{ url }} </p>
    <p> Soma de 1 + 1 é: {{ 1 + 1 }} </p>
    <p> A soma de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
    <p>Zeno is a developer: {{zenoDev && getZenoDev()}} </p>

    <img src="{{ urlImagem }}"> <!--data biding por interpolacao-->
    <img [src]="urlImagem"> <!--data biding por property biding-->
    <img bind-src="urlImagem"> <!--data biding por propoerty biding-->
  </article>
  <br>
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0"> <!--Cria uma variavel #classe e depois escuta se ocorrer (change)=0-->
        <option value="alert-success">Successo</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Error</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }} " role="alert">
        Texto colorido conforme o combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success] = "classe.value == 'alert-success'" >
        Sucesso</div>
        <!--Exemplo de style class-->
      <div class="alert" role="alert" [class.alert-info] = "classe.value == 'alert-info'" >Info</div>
      <div class="alert" role="alert" [class.alert-warning] = "classe.value == 'alert-warning'" >Alerta</div>
      <div class="alert" role="alert" [class.alert-danger] = "classe.value == 'alert-danger'" >Erro</div>
      <!--Exemplo de style biding-->
      <div class="alert" role="alert" [style.display] = "classe.value == 'alert-danger' ? 'block' : 'none' " >Ocorreu um erro</div>
    </div>
  </article>
  <br><br>
  <article>
    <h3>Event Biding</h3>
    <div>
      <button (click) = "botaoClicado()" class="btn btn-primary">Click Me!</button>
    </div>
    <div>
      <button (click) = "clickZeno()" class="btn" >Btn Zeno</button>
    </div>
    <input type="text" 
    (keyup) = "onKeyUp($event)"
    (keyup.enter) = "salvarValor(campoInput.value)"
    (blur) = "salvarValor(campoInput.value)"
    #campoInput
    />
    <p>Valor Atual: {{ valorAtual }}</p>
    <p>Valor Salvo: {{ valorSalvo }}</p>

    <span (mouseover) = "onMouseOverOut()"
          (mouseout) = "onMouseOverOut()"
          [class.highligh] = "isMouseOver"
    >
      passe o mouse
    </span>
  </article>
  <br><br>

</section>

<section class="two-way-binding">
  <article>
    <h3>Two way Data Biding</h3>
    <div>
      <input type="text"
        [value] = "nome"
        (input) = "nome = $event.target.value"
      />

      <input type="text" 
      [ngModel]="nome" 
      (ngModelChange)="nome = $event" 
      />

      <!--Two way data biding [()]-->
      <input type="text"
      [(ngModel)] = "nome" 
      />

      <p>Voce digitou {{ nome }}</p>
    </div>

    <div>
        <input type="text" [(ngModel)]='pessoa.nome' />
        <input type="text" [(ngModel)]='pessoa.idade' /> 
        <input type="text" [(ngModel)]='pessoa.endereco.rua' />
        <input type="text" [(ngModel)]='pessoa.endereco.bairro' />     
      <p>Meu nome é {{ pessoa.nome }} e minha idade é {{pessoa.idade}}, moro na rua {{ pessoa.endereco.rua }} no bairro {{ pessoa.endereco.bairro }} </p>

    </div>
  </article>

</section>
